@CHARSET "UTF-8";

body {
	line-height: 1;
	margin: 0 0 0 0px
}

body {
	color: #000;
	font-family: Arial, Liberation Sans, DejaVu Sans, sans-serif;
	font-size: 80%;
	background:
		url('http://cdn.sstatic.net/programmers/img/bg-whiteboard.png') left
		top repeat #ffffff;
}

#custom-header {
	background-color: #eaeaea;
	height: 31px;
	margin-bottom: -31px;
	text-shadow: 1px 1px 1px #0a0c0e;
	color: #fff;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 4px 0 rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 4px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 4px 0 rgba(0, 0, 0, .1);
	width: 1349px;
	position: fixed;
	top: 0;
}

.content {
	text-align: left;
	width: 100%;
	zoom: 1;
	margin: 0px auto;
	background:
		url('http://cdn.sstatic.net/programmers/img/bg-doodle-bottom.png')
		left bottom no-repeat,
		url('http://cdn.sstatic.net/programmers/img/bg-doodle-top.png') center
		38px no-repeat transparent;
}

.content {
	
}

#content {
	margin: 0 auto;
	width: 970px;
	min-height: 450px;
}

.cbt {
	clear: both;
}

#header {
	width: 960px;
	height: 120px;
	margin: 0 auto;
	padding-bottom: 15px!ie7;
}

#header #topbar {
	width: auto;
	padding: 3px 10px 0px 10px;
	float: right;
	height: 30px;
	line-height: 22px;
	position: fixed;
	top: 0;
	right: 207px;
}

#header #hlogo {
	height: 61px;
	width: 250px;
	float: left;
	margin-top: 10px;
}

#header #hmenus {
	width: 705px;
	float: left;
	padding: 34px 0px 20px 5px;
	margin-top: 10px;
}

#header #topbar #hlinks {
	float: left;
	margin: 0px 35px 0px 0px;
}

#hlinks {
	margin-right: 20px !important;
}

#hlinks a {
	font-weight: normal;
	margin-right: 10px
}

#portalLink {
	margin-left: -6px;
	float: left;
	margin-top: 6px;
	position: fixed;
	top: 0;
}

#hlinks {
	margin-right: 20px !important;
}

#hlinks a {
	font-weight: normal;
	text-decoration: none;
}

#hlinks a,#hlinks a:visited {
	color: grey
}

#hlinks a:hover {
	text-decoration: underline;
}

#hlogo {
	margin: 0;
	float: left;
}

#hlogo a {
	display: block;
	text-indent: -999999em;
}

#hlogo a:focus {
	outline: none;
	border: none;
}

#hlogo a:active {
	outline: none;
	border: none;
}

#hlogo a {
	background: transparent url('../img/logo1.png') no-repeat center top;
	width: 600px;
	height: 110px;
	margin-left: -159px;
}

#header #topbar #hsearch {
	float: left;
}

#hsearch {
	margin-right: -4px !important;
}

#hsearch .textbox {
	color: #000;
	margin: 0px;
	width: 200px;
	max-width: 200px;
	border: none;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.nav {
	float: left;
	font-size: 125%;
}

.nav ul {
	margin: 0;
}

.nav li {
	display: block;
	float: left;
	margin-right: 7px;
}

.nav li {
	padding: 1px 11px 14px 11px;
	-moz-border-radius-bottomright: 18px;
	border-bottom-right-radius: 18px;
}

.nav li:hover {
	background-image: url(../img/sprites-extra.png);
	background-repeat: no-repeat;
	overflow: hidden;
	background-color: transparent;
	background-position: 0 -31px;
}

.nav li:hover a {
	color: #db2424;
	text-decoration: none;
}

.nav li a.default {
	text-decoration: none;
	color: #db2424;
}

.nav a {
	color: #456B9D;
	display: block;
	padding: 6px 12px 6px 12px;
	text-decoration: none;
	font-family: sans-serif;
	font: Whiteboard;
}

.askquestion {
	float: right;
}

#nav-askquestion {
	margin-right: 0px;
}

.nav .youarehere {
	background: #ff9900;
}

.youarehere a {
	color: #fff;
}

#sidebar,.sidebar {
	overflow: hidden;
	float: right;
	margin-bottom: 60px;
	width: 220px;
}

#mainbar,.mainbar {
	float: left;
	margin-bottom: 40px;
	width: 745px;
}

.subheader {
	border-bottom: 1px solid #cccccc;
	height: 34px;
	clear: both;
	margin-bottom: 15px;
}

.subheader h1,.subheader h2 {
	float: left;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 0px;
}

.subheader a {
	color: #000000;
}

#tabs {
	float: right;
	font-weight: normal;
}

#tabs li {
	list-style: none;
	float: left;
}

#tabs ul a {
	background: inherit;
	color: #777;
	display: block;
	float: left;
	font-size: 90%;
	height: 24px;
	line-height: 22px;
	margin: 8px 8px 0 0;
	padding: 0 11px 0 11px;
	text-decoration: none;
}

#tabs ul a:hover {
	border: 1px solid #ccc;
	border-bottom-color: #eaeaea;
	line-height: 20px;
	margin-top: 9px;
}

#tabs ul a.youarehere {
	border: 1px solid #ccc;
	border-bottom-color: #eaeaea;
	color: black;
	font-size: 120%;
	height: 30px;
	line-height: 28px;
	margin-top: 3px;
	padding: 0px 11px 0px 11px;
}

.module {
	color: #444;
	padding: 0 8px 2px 8px;
	margin-bottom: 10px;
}

.module h4 {
	line-height: 1.4;
	font-size: 130%;
	padding-bottom: 7px;
}

.module p.ar a {
	font-size: 100%;
	line-height: 1.3;
	margin-bottom: 0.5em;
	text-decoration: none;
}

#footer {
	color: #444;;
	clear: both;
	padding: 15px;
	margin-top: 10px;
	border-top: 1px solid #eaeaea;
}

.footerwrap {
	margin: 0 auto;
	text-align: left;
	width: 960px;
}

#copyright {
	color: #444444;
	clear: both;
}

#copyright a {
	color: #444444;
	text-decoration: underline;
}

#wait {
	display: none;
	width: 69px;
	height: 89px;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 2px;
}

div#content {
	padding: 15px 20px 50px 50px;
}

div#question-header {
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 10px;
}

.everyone {
	margin-bottom: 8px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.vt {
	vertical-align: top;
}

.post-menu {
	padding-top: 2px;
	padding-bottom: 10px;
}

.post-menu>a,.edit-tags-wrapper>span>a {
	padding: 0px 3px 2px 3px;
	color: #888888;
}

td,th {
	display: table-cell;
	vertical-align: inherit;
}

a {
	color: rgb(44, 146, 40);
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

.post-editor {
	width: 660px;
}

#sub-header {
	border-bottom: 1px solid #cccccc;
	height: 34px;
	clear: both;
	margin-bottom: 20px;
	margin-top: 10px;
}

.button {
	margin-top: 5px;
	margin-left: 5px;
	height: 27px;
	cursor: pointer;
	border: 1px solid #999;
	font-size: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 0.3em 0.6em;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 0 1px 0
		rgba(255, 255, 255, 0.4) inset;
	background-color: #333;
	color: #fff;
	border: 1px solid #000 !important;
	border-radius: 3px;
}

.button:hover {
	background-color: red;
}

.tag-cell {
	width: 230px;
	border-bottom: 1px dotted #E0E0E0;
	padding-bottom: 2px;
	padding-right: 6px;
	padding-top: 6px;
	vertical-align: top;
}

.item-multiplier {
	font-size: 90%;
	font-weight: normal;
	margin-right: 4px;
	color: #999;
}

.excerpt {
	font-size: 12px;
	height: 39px;
	line-height: 14px;
	overflow: hidden;
	margin-bottom: 1px;
	padding-bottom: 0px;
	font-family: Arial, Liberation Sans, DejaVu Sans, sans-serif;
}

.excerpt {
	line-height: 1.2;
	padding: 0;
	margin: 0;
	padding-bottom: 5px;
}

.stats-row,.stats-row a,.stats-row a:visited {
	font-size: 11px;
	color: #444;
}

#tags-browser tr {
	border-bottom: 1px dotted #eaeaea;
	margin-bottom: 20px
}

.stats-row {
	font-family: Arial, Liberation Sans, DejaVu Sans, sans-serif;
	font-size: 12px;
	color: #888;
}

.fl {
	float: left;
}

.cbt {
	clear: both;
}

.subheader h1,.subheader h2 {
	float: left;
	font-size: 18px;
	line-height: 34px;
	margin-bottom: 0px;
}

.sub-header-links {
	margin-top: 12px;
}

.fr {
	float: right;
	font-family: Arial, Liberation Sans, DejaVu Sans, sans-serif;
	font-size: 12px;
	color: #888;
}

.fr a {
	padding-left: 15px;
}

.votecell {
	width: 60px;
	vertical-align: top;
}

.vote {
	text-align: center;
}

.vote span {
	display: block;
	color: #808185;
	font-weight: normal;
}

.envelope-on,.envelope-off,.vote-up-off,.vote-up-on,.vote-down-off,.vote-down-on,.star-on,.star-off,.comment-up-off,.comment-up-on,.comment-flag,.edited-yes,a.cc-wiki-link,.feed-icon,.statsarrow,.vote-accepted-off,.vote-accepted-on,.vote-accepted-bounty,.badge-earned-check,.delete-tag,.grippie,.expander-arrow-hide,.expander-arrow-show,.expander-arrow-small-hide,.expander-arrow-small-show,.anonymous-gravatar,.badge1,.badge2,.badge3,.add-interesting-tag-on,.add-interesting-tag-off,.fb-share,.twitter-share,.gp-share
	{
	background-image:
		url('http://cdn.sstatic.net/stackoverflow/img/sprites.png?v=5');
	background-repeat: no-repeat;
	overflow: hidden;
}

.vote-up-off,.vote-up-on,.vote-down-off,.vote-down-on,.star-on,.star-off
	{
	background-position: 0px -265px;
	display: block;
	margin: 0 auto;
	width: 41px;
	height: 25px;
}

.vote-up-off,.vote-down-off,.vote-accepted-off,.star-off,.comment-up-off,.flag-off
	{
	cursor: pointer;
}

.vote-up-off,.vote-up-on,.vote-down-off,.vote-down-on,.star-on,.star-off,.comment-up-off,.comment-up-on,.comment-flag,.flag-off,.vote-accepted-off,.vote-accepted-on
	{
	text-indent: -9999em;
	font-size: 1px;
}

.vote-up-on {
	background-position: 0px -230px;
}

.vote-down-off {
	background-position: 0px -300px;
}

.vote-down-on {
	background-position: 0px -330px;
}

.star-off,.star-on {
	background-position: 0px -150px;
	width: 33px;
	height: 31px;
}

.star-on {
	background-position: 0px -190px;
}

.vote-count-post {
	display: block;
	font-size: 24px;
}

.vote-count-post strong {
	font-weight: normal;
}

.favoritecount {
	text-align: center;
	color: #808185;
}

.post-text h1,.wmd-preview h1 {
	font-size: 22px !important;
	line-height: 24px !important;
	margin-bottom: 10px !important;
}

.post-text {
	width: 660px;
	font-size: 107%;
	margin-bottom: 5px;
	margin-right: 10px;
	margin-top: 20px;
	line-height: 130%;
}

.post-text h1,.post-text h2,.post-text h3 {
	margin-bottom: 1em;
}

.post-text p {
	word-wrap: break-word;
}

.post-text li,.wmd-preview li {
	word-wrap: break-word;
}

.post-text li pre,.wmd-preview li pre {
	word-wrap: normal;
}

.post-text hr {
	background-color: #ddd;
	color: #ddd;
}

.wmd-preview img {
	max-width: 640px;
}

.wmd-preview h1,.wmd-preview h2,.wmd-preview h3 {
	margin-bottom: 1em;
}

.post-text img {
	max-width: 640px;
}

h1 {
	font-family: Trebuchet MS, Liberation Sans, DejaVu Sans, sans-serif;
	font-weight: bold;
	font-size: 170%;
	margin-bottom: 7px;
	line-height: 1.3;
}

h2 {
	font-family: Trebuchet MS, Liberation Sans, DejaVu Sans, sans-serif;
	font-size: 140%;
	font-weight: bold;
	margin-bottom: 7px;
	line-height: 1.3;
}

h3 {
	font-family: Trebuchet MS, Liberation Sans, DejaVu Sans, sans-serif;
	font-size: 110%;
	font-weight: bold;
	margin-bottom: 5px;
	line-height: 1.3;
}

.post-taglist {
	margin-bottom: 10px;
	clear: both;
}

.fw {
	width: 100%;
}

.post-menu {
	padding-top: 2px;
}

.post-menu>a,.edit-tags-wrapper>span>a {
	padding: 0px 3px 2px 3px;
	color: #888888;
}

.post-menu>a:hover,.edit-tags-wrapper>span>a:hover {
	background-color: #777777;
	color: #fff;
	text-decoration: none;
}

.edit-tags-wrapper {
	padding-right: 40px;
}

.edit-tags-wrapper>a.post-tag {
	margin-right: 6px;
}

.post-menu .lsep {
	margin: 0px;
	padding: 0px;
}

.lsep {
	margin: 0px 2px 0px 2px;
	color: #ccc;
	font-size: 110%;
}

.post-signature {
	padding-left: 5px;
	padding-top: 2px;
	text-align: left;
	vertical-align: top;
	width: 175px;
	height: 58px;
}

.owner {
	background-color: #deedff;
	background-color: rgba(222, 237, 255, 0.4);
	background-color: #e0eaf1;
}

.user-info {
	height: 35px;
	width: 185px;
}

.user-info .user-gravatar32 {
	float: left;
	width: 32px;
	height: 32px;
}

.user-info .user-action-time {
	margin-top: 2px;
	margin-bottom: 4px;
}

.user-info .user-details {
	float: left;
	margin-left: 5px;
	width: 145px;
	overflow: hidden;
	white-space: nowrap;
}

.user-details {
	color: #888;
	line-height: 17px;
}

.user-info.user-hover .user-gravatar32,.user-info.user-hover .user-gravatar48
	{
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#user-browser .user-info .user-gravatar48 {
	float: left;
	width: 48px;
	height: 48px;
}

.user-info.user-hover .user-gravatar32,.user-info.user-hover .user-gravatar48
	{
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	filter: filter:                           progid:DXImageTransform.Microsoft.Shadow(direction=135,
		strength=3, color=#808080 );
	border-collapse: separate;
}

#user-browser .user-info {
	clear: both;
	height: 85px;
	width: 230px;
	margin: 8px 5px;
}

#user-browser .user-info .user-tags {
	clear: both;
}

#user-browser {
	margin-left: 5px !important;
	margin-top: 45px;
}

#user-browser table td {
	vertical-align: top;
}

#user-browser .user-tags,#user-browser .user-tags a {
	color: #888;
}

#user-browser .user-tags {
	font-family: Arial, Liberation Sans, DejaVu Sans, sans-serif;
	font-size: 13px;
	margin-left: 53px;
}

#user-browser .user-details {
	width: 175px !important;
}

.user-details td {
	color: Black;
	padding: 4px 0px 4px 0px;
}

.reputation-score {
	font-weight: bold;
	color: #444;
	font-size: 100%;
	margin-right: 2px;
}

#user-browser .user-info .reputation-score {
	font-size: 110%;
	margin-right: 0px;
}

.everyonelovesstackoverflow {
	margin-bottom: 8px;
}

#answers {
	clear: both;
	padding-top: 10px;
	width: 728px;
}

#answers .subheader {
	margin-bottom: -10px;
}

.answer {
	border-bottom: 1px solid #aaa;
	width: 728px;
	padding-bottom: 20px;
	padding-top: 20px;
	-moz-transition: 3s;
	-webkit-transition: 3s;
	-o-transition: 3s;
	transition-duration: 3s;
}

#answers-header {
	width: 728px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.space {
	padding-top: 20px;
}

.post-editor {
	width: 660px;
}

.wmd-button-bar {
	height: 25px;
	width: 660px;
	clear: both;
	background-color: #fff;
	margin: 10px 0px 1px 0px;
}

.wmd-button-row {
	position: relative;
	padding: 0px;
	height: 20px;
	margin: 0;
}

.wmd-button {
	width: 20px;
	height: 20px;
	padding-left: 2px;
	padding-right: 3px;
	position: absolute;
	display: inline-block;
	list-style: none;
	cursor: pointer;
}

.wmd-button {
	list-style: none;
	cursor: pointer;
}

.wmd-button>span {
	background-image: url(../images/wmd-buttons.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

}
.wmd-input {
	width: 660px;
	padding: 3px;
	height: 200px;
	line-height: 1.2;
}

.grippie {
	background-position: 321px -823px;
	border: 1px solid #ddd;
	border-width: 0pt 1px 1px;
	cursor: s-resize;
	height: 9px;
	overflow: hidden;
	background-color: #eee;
	margin-right: -8px !important;
}

.comment-box {
	margin-left: 150px;
}

#content textarea,.mirroredText {
	line-height: 20px;
}

#content textarea {
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
		DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
		serif;
	border: 1px solid #999;
	font-size: 90%;
}

#content textarea {
	-webkit-appearance: textarea;
	background-color: white;
	border: 1px solid;
	border-image: initial;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	-webkit-box-orient: vertical;
	resize: auto;
	cursor: auto;
	padding: 2px;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 0em;
	font: -webkit-small-control;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
}

.module .spacer {
	margin-bottom: 8px;
}

.module h4 {
	line-height: 1.4;
	font-size: 130%;
	padding-bottom: 7px;
}

.module .question-hyperlink {
	font-weight: bold;
}

.related {
	line-height: 120%;
	font-size: 90%;
}

.sidebar-related .question-hyperlink {
	width: 165px;
}

.module p {
	font-size: 120%;
	line-height: 1.3;
	margin-bottom: 0.5em;
}

.module ul {
	margin-left: 15px;
	list-style-type: square;
	font-size: 120%;
	margin-right: 30px;
	line-height: 120%;
}

.module li {
	margin-bottom: 4px;
}

.headername {
	display: inline-block;
	max-width: 175px;
	overflow: hidden;
	padding-right: 8px;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
}

.aform th {
	height: 40px;
	width: 120px;
	text-align: left;
}

.aform td {
	height: 40px;
	width: 150px;
	text-align: left;
}

input.boxtext {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.error {
	border: 1px solid #cd0a0a;
	background: #fef1ec url(../images/uibg.png) 50% 50% repeat-x;
	color: #cd0a0a;
}

.highlight {
	border: 1px solid #fcefa1;
	background: #fbf9ee url(../images/uibg.png) 50% 50% repeat-x;
	color: #363636;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

#viewpost {
	height: 50px;
	border: 1px dotted black;
	width: 580px;
	margin-top: 30px;
	padding: 4px 4px 4px 4px;
}

#hlinks .dropdown-menu a:hover {
	color: white;
	text-decoration: none;
}

#messageu {
	margin-bottom: 20px;
}

table#notifi tr:hover {
	border-color: #e3e8f0;
	background-color: #f4f6f9;
	cursor: pointer;
}

table#notifi td {
	height: 76px;
}

ul#notif a.notiLink {
	border-bottom: 1px solid #eaeaea;
}

#notif a.notiLink .notiText {
	max-width: 243px;
}

textarea#taginput {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.answer-box {
	margin-left: 0px;
	border-bottom: 1px solid #eaeaea;
	padding-top: 4px;
}

.answer-vote {
	color: #e1e818;
	text-align: center;
	background-color: #75845C;
	font-weight: bold;
	padding: 4px;
	padding-bottom: 5px;
	width: 22px;
	height: 15px;
	text-decoration: none;
	font-size: 110%;
}

.answer-link {
	width: 700px;
	margin-top: 5px;
	padding-left: 10px;
	color: #555;
	font-weight: bold;
}

.table th,#answer-list .table td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #f0f0f0;
}

#user-browser .question-summary {
	width: 965px;
}

h3 .count {
	font-weight: normal;
	color: #808080;
}

div.comments {
	width: 660px;
	border-top: dotted 1px #aaa;
	margin-top: 10px;
	padding-bottom: 10px;
	line-height: 135%;
	color: #444;
}

.comments>table {
	width: 100%;
}

.comments-link {
	padding: 0px 3px 2px 3px;
	color: #888;
}

.comments-link:hover {
	padding: 0px 3px 2px 3px;
	background-color: #777;
	color: #fff;
	text-decoration: none;
}

tr.comment>td {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: dotted 1px #ddd;
}

textarea#com {
	border-width: 0;
	padding: 0;
	margin: 0;
	-webkit-box-shadow: none;
	background-color: #fff;
	border-width: 0;
	border: 1px solid #ddd;
	padding: 3px;
	width: 86%;
	margin-top: 7px;
}

.DOMControl_placeholder {
	color: #777;
}

tr.comment:hover {
	background-color: #fafafa;
}

.comment img {
	vertical-align: middle;
}

.comment-text,.comment-form {
	vertical-align: text-top;
	padding: 0px 6px 0px 7px;
}

.comments {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.edit-cm{
	position: relative;
    top: 1px;
    right: 0px;
	float:right;
}
.comments-link {
padding: 0px 3px 2px 3px;
color: #888;
}
.modal-backdrop {
background-color: rgba(255, 255, 255, .8);
}
.redactor_redactor ,.redactor_editor{
	height:200px
}
#bigsearch .col1 input, .bigsearch .col1 input, #bigsearch .col1 textarea, .bigsearch .col1 textarea {
width: 100%;
max-width: 100%;
height: 25px;
font-size: 15px;
}
.post-text a{
	color: #15c;
}