body, input, button, textarea {
font-family: "Segoe UI","Fuse-Segoe-UI",sans-serif;
font-size: 16px;
}
li {
	display: block;
}
a{
	text-decoration: none;
}
textarea{
	resize: none; 
	color: rgb(119, 119, 119); 
	overflow: hidden; 
	word-wrap: break-word;
	 height: 24px;
}
#meshare textarea{
	width: 500px;
}
#body-container{

}
#header-container{
	height: 100px;
}
#main-header{
	padding-bottom: 30px;
	border-bottom: 1px solid #eaeaea;
}
#logo-header{
	border-right: 1px solid #eaeaea;
}
#menu-header-2 li,#menu-header li,#menu-content li{
	display: block;
	float: left;
	margin-right: 14px;
}
a{
	text-decoration: none;
}
#search-header .search{
	height: 35px;
	width: 400px;
}
#mainContent{
	
	overflow: hidden;
	min-height: 600px;
	border-bottom: 0;
}
#page{
	overflow: hidden;
	min-height: 600px;
}
#page .bar-left{
	overflow: hidden;
	min-height: 600px;
	border-right:1px solid #eaeaea;
}
#page .bar-left li{
	margin-bottom:20px;
}
a:visited {color: #9c9c9c;}
a:hover {color: black;}
a{color:#9c9c9c}
a.default{
	color:red;
}

#page .header{
	height:100px; border-bottom:1px solid #eaeaea;
	margin-bottom:30px;
}
#page .board-content .item-board{
	padding-bottom:5px;
	padding-right:5px;
	
}
#mecontent{
	margin-top: 10px;
}
#page-container{
	min-height: 600px;
}
#page-container .listfollow li{
	margin-bottom: 10px;
}
#mainleft .suggest{
	height: 200px;
	border-bottom: 1px solid #eaeaea;
}
#mainleft .listfollow {
	padding-top: 10px;
}
#footer-container{
	margin-top: 20px;
	border-top: 1px solid #eaeaea;
	height: 60px;
}