<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
	<div id="body-container" >
		<div id="header-container" class="row-fluid">
			<div id="main-header" class="span12">
				<div class="span2" id="logo-header">
					<a href="index.html">Logo</a>
				</div>
				<div class="span3" id="menu-header">
				<ul>
					<li><a href="user.html">Me</a></li>
					<li><a href="follow.html">Following</a></li>
					<li><a href="board.html">Board</a></li>
				</ul>
				</div>
				<div class="span5" id="search-header">
				<input type="search" class="search" name="search" placeholder="Search something">
				</div>
				<div class="span2"></div>
			</div>
		</div>
		<div id="page-container" class="row-fluid" >
			<div id="page" class="span12" >
				<div class="span2 bar-left">
				<ul>
					<li><a href="user.html" >Nguyễn Trung</a></li>
					<li><a href="video.html" >Video</a></li>
					<li><a href="image.html" >Image</a></li>
					<li><a href="topic.html" >Topic</a></li>
					<li><a href="pin.html" class="default">Pin</a></li>
					<li><a href="board.html">My board</a></li>
					<li><a href="image.html">Setting</a></li>
					
					
				</ul>
				
				</div>
				<div class="span8" class="main-content">
					<div class="header" ></div>
					<div  class="pin-content">
						
					</div>
				</div>
				<div class="span2" class="bar-right"></div>
				
			</div>
		</div>
	</div>
	<div id="footer-container">
	<div id="mainfoot">
	</div>
	</div>
</body>
</html>