<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript">
	function display() {
		$(".optionshare").slideToggle("fast");
		return false;
	}
</script>
</head>
<body>
	<div id="body-container">
		<div id="header-container" class="row-fluid">
			<div id="main-header" class="span12">
				<div class="span2" id="logo-header">

					<a href="index.html">Logo</a>
				</div>
				<div class="span3" id="menu-header">
					<ul>
						<li><a href="user.html">Me</a></li>
						<li><a href="follow.html">Following</a></li>
						<li><a href="tag.html">Board</a></li>
					</ul>
				</div>
				<div class="span5" id="search-header">
					<input type="search" class="search" name="search"
						placeholder="Search something">
				</div>
				<div class="span2" id="menu-header-2">
					<ul>
						<li><a href="creat-pin.html">+ Pin</a></li>
						<li><a href="notifi.html"> Notify</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="page-container" class="row-fluid">
			<div id="page" class="span12">
				<div id="leftcol" class="span2"></div>
				<div id="mainContent" class="span7">
					<div id="mecontent" class="span12">
						<div class="page-header"></div>
						<div id="top-board"
							style="height: 400px; border-bottom: 1px solid #eaeaea"></div>
					</div>

				</div>
				<div id="rightcol" class="span3">
					<div id="xushare"
						style="height: 200px; border-bottom: 1px solid #eaeaea"></div>
					<div id="xuwatch"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer-container">
		<div id="mainfoot"></div>
	</div>
</body>
</html>